.csssize {
    height: 2778px
}

.t-body {
    margin: 0
}

#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none
}

#allrecords a {
    color: #01cab0;
    text-decoration: none
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none
}

#allrecords ol {
    padding-left: 22px
}

#allrecords ul {
    padding-left: 20px
}

#allrecords b, #allrecords strong {
    font-weight: 700
}

@media print {
    body, html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none
    }
}

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: none
}

.t-records a {
    color: #01cab0;
    text-decoration: none
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none
}

.t-records ol {
    padding-left: 22px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-mbfix {
    opacity: .01;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease
}

.t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px)
}

img:not([src]) {
    visibility: hidden
}

.t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.t-title {
    font-family: 'proxima', Arial, sans-serif;
    font-weight: 600;
    color: #000
}

.t-title_xxs {
    font-size: 36px;
    line-height: 1.23
}

.t-descr {
    font-family: 'proxima', Arial, sans-serif;
    font-weight: 300;
    color: #000
}

.t-descr_xs {
    font-size: 16px;
    line-height: 1.55
}

.t-descr_md {
    font-size: 20px;
    line-height: 1.55
}

.t-align_center {
    text-align: center
}

.t-rec_pt_15 {
    padding-top: 15px
}

.t-rec_pt_45 {
    padding-top: 45px
}

.t-rec_pt_135 {
    padding-top: 135px
}

.t-rec_pb_90 {
    padding-bottom: 90px
}

@media screen and (max-width: 1200px) {
    .t-descr_xs {
        font-size: 14px
    }

    .t-descr_md {
        font-size: 18px
    }

    .t-title_xxs {
        font-size: 32px
    }
}

@media screen and (max-width: 640px) {
    .t-descr_xs {
        font-size: 12px;
        line-height: 1.45
    }

    .t-descr_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-title_xxs {
        font-size: 28px
    }
}

@media screen and (max-width: 480px) {
    .t-rec_pt_15 {
        padding-top: 15px
    }

    .t-rec_pt_45 {
        padding-top: 45px
    }

    .t-rec_pt_135 {
        padding-top: 90px !important
    }

    .t-rec_pb_90 {
        padding-bottom: 90px
    }
}

@font-face {
    font-family: 'proxima';
    src: url('https://static.tildacdn.com/tild6235-6130-4566-a261-356133346638/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'proxima';
    src: url('https://static.tildacdn.com/tild6438-3063-4133-a562-643632613634/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'proxima';
    src: url('https://static.tildacdn.com/tild6132-3637-4464-a362-356635363834/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'proxima';
    src: url('https://static.tildacdn.com/tild3834-3361-4633-a434-316235663262/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'proxima';
    src: url('https://static.tildacdn.com/tild3138-3530-4638-b238-626434306362/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'proxima';
    src: url('https://static.tildacdn.com/tild6463-6532-4864-b839-326363626432/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

.t017__uptitle {
    padding-top: 3px;
    padding-bottom: 22px
}

.t017__title {
    padding-top: 2px;
    padding-bottom: 0
}

.t017__descr {
    padding-top: 21px
}

.t432 {
    overflow: hidden
}

.t432__link {
    display: inline-block;
    cursor: pointer
}

.t432__btn-text {
    display: table-cell;
    vertical-align: middle
}

.t432__wrapone {
    position: relative;
    right: 50%;
    float: right
}

.t432__wraptwo {
    position: relative;
    right: -50%
}

.t432__link-wrapper {
    height: auto;
    padding: 0;
    font-size: 24px;
    display: inline-block
}

.t432__link-wrapper_sm {
    font-size: 16px
}

.t432__btn-img {
    display: block;
    padding-right: 11px
}

.t432__btn-img_sm {
    width: 24px
}

.t432__btn-img_md {
    width: 30px
}

.t432__btn-img_xl {
    width: 36px
}

.t432__btn-img-wrapper {
    display: table-cell;
    vertical-align: middle
}

.t432__btn2 {
    margin-left: 30px
}

.t432__link-wrapper-hover:hover {
    text-decoration: underline
}

@media screen and (max-width: 640px) {
    .t432__link, .t432__link-wrapper {
        display: block
    }

    .t432__btn2 {
        margin-left: 0;
        margin-top: 10px
    }
}

.t396__iframe {
    z-index: 10000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 0
}

.t396__body_overflow_hidden {
    overflow: hidden
}

.t396__display_none {
    display: none
}

.t396__artboard {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.t396__artboard .t396__artboard_scale {
    overflow: visible
}

.t396__artboard.t396__artboard_scale .t396__elem[data-elem-type="text"] .tn-atom {
    word-break: normal;
    -moz-osx-font-smoothing: grayscale
}

.t396__artboard_scale .t396__carrier, .t396__artboard_scale .t396__filter {
    transform-origin: top left
}

.tn-atom__scale-wrapper {
    width: inherit;
    height: inherit
}

.t396__elem .tn-atom__scale-wrapper .tn-atom {
    width: inherit;
    height: inherit !important;
    box-sizing: border-box
}

.t396__artboard.rendering .tn-elem {
    visibility: hidden
}

.t396__artboard.rendered .tn-elem {
    visibility: visible
}

.t396__carrier {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    -moz-transform: unset
}

.t396__filter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transform: translateZ(0)
}

.t396__elem {
    position: absolute;
    box-sizing: border-box;
    display: table
}

.t396 .tn-atom {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

@media screen and (max-width: 959px) {
    .t396_safari .t396__artboard_scale .tn-atom {
        -webkit-text-size-adjust: auto;
        -moz-text-size-adjust: auto;
        -ms-text-size-adjust: auto
    }
}

.t396 .tn-atom ul, .t396 .tn-atom ol {
    margin-bottom: 0
}

.t396_safari .tn-atom {
    transform: translateZ(0)
}

.t396 a.tn-atom {
    text-decoration: none
}

.t396 .tn-atom__img {
    width: 100%;
    display: block
}

.t396 .tn-atom__html {
    vertical-align: top
}

.t396 .tn-atom__pin {
    border-radius: 1000px;
    border-style: solid
}

.t396 .tn-atom__pin_onclick {
    cursor: pointer
}

.t396 .tn-atom__tip {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    padding: 15px;
    display: none
}

.t396 .tn-atom__pin:hover .tn-atom__tip {
    display: none
}

.t396 .tn-atom__tip-img {
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.t396 .tn-atom__tip[data-tip-pos=top] {
    bottom: 100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=bottom] {
    top: 100%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=left] {
    right: 100%;
    margin-right: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=right] {
    left: 100%;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396__ui {
    position: absolute;
    top: 16px;
    left: 196px;
    background-color: #fa876b;
    color: #000 !important;
    height: 30px;
    line-height: 30px;
    width: 100px;
    z-index: 1000;
    text-align: center;
    border-radius: 3px;
    display: none;
    font-size: 14px
}